<html style="background-color:rgb(184, 133, 231)">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>

  <h2>No account yet? Create one using the form below.</h2>
  <p>This also creates a bank account with 100 free credit 🤑</p>
  <form id='createAccount' action='/createaccount/' method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"/><br/>
    <input type="text" name="email" placeholder="email"/><br/>
    <!-- FIX A07-1: define password at user creation phase using user input -->
    <!-- <input type="password" name="password" placeholder="password"/><br/> -->
    <input type="submit" value="Create Account"/>
  </form>

</html>